<%=render :partial => "admin/global_admins/platform_settings_ga"%>
<h1>Edit Language Details</h1>
<%=form_for @language , :url=> language_path(@language.id),:html => {:class => "form form-horizontal"} do |f| %>

    <div class="span9">
      <div class="control-group">
        <label class="control-label">Language English Name</label>
        <div class="controls">
          <%=label_tag @language.english_name  %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Language ISO Code</label>
        <div class="controls">
          <%=label_tag @language.iso_code%>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Language Local Name</label>
        <div class="controls">
          <%=f.text_field :local_name  %>
        </div>
      </div>
      <%if @language.is_default == 1%>
          <div class="control-group">
            <label class="control-label">Is Default</label>
            <div class="controls">
              true
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Is Active</label>
            <div class="controls">
              <%= f.radio_button :is_active, 1,:class=>"input"%>  True   </div>
            <div class="controls">
              <%=f.radio_button :is_active, 0,:class=>"input"%> False  </div>
            <p class="help-block"></p>
          </div>
      <%else%>
          <%if @language.is_active == 1%>
              <div class="control-group">
                <label class="control-label">Is Default</label>
                <div class="controls">
                  false
                </div>
              </div>
          <%else%>
              <div class="controls">
                <%= f.radio_button :is_default, 1,:class=>"input"%>  True   </div>
              <div class="controls">
                <%=f.radio_button :is_default, 0,:class=>"input"%> False  </div>
              <p class="help-block"></p>
          <%end%>
      <%end%>
      <div class="form-actions">
        <button type="submit" class="btn">Save</button>
        <%=link_to "Cancel", edit_language_path(@country), :class => "btn"%>
        <%=link_to "Close", languages_path, :class => "btn"%>
      </div>
    </div>
<%end%>
<%= content_for :head do  %>
    <script type="text/javascript">
        jQuery(function(){
            var fname= new LiveValidation('service_language_local_name',{validMessage:" ",onlyOnSubmit:true});
            fname.add( Validate.Format , { pattern: /^[^0-9`!@#\$%\^&*+_=]+$/, failureMessage: "Field not valid" });
        });
    </script>
<% end %>







