<%=render :partial => "admin/global_admins/platform_settings_ga"%>
<div class="span9">

  <h1>Language</h1>
  <%=form_tag languages_path ,:method => :get, :html => { :class => "form-horizontal"} do  %>
      <%= hidden_field_tag  :re_query ,"true"%>
      <table border="0" class="table">
        <tr>
          <th>English Name</th>
          <th>ISO Code</th>
          <th>Local Name</th>
          <th>IsActive</th>
          <th></th>
        </tr>
        <tr>
          <td><%=text_field_tag :name ,params[:name],:class => "span1"%> </td>
          <td><%=text_field_tag :iso_code ,params[:iso_code],:class => "span1"%> </td>
          <td><%=text_field_tag :local_name ,params[:local_name],:class => "span1"%> </td>
          <td><%=select_tag :is_active ,options_for_select(["All", "True" ,"false"]  ,params[:is_active]),:onchange => "this.form.submit();",:class => "span2"%> </td>
          <td><%=submit_tag "find"%></td>
        </tr>
        <% @languages.each do |c| %>
            <tr>
              <td><%=link_to c.english_name,edit_language_path(c) %></td>
              <td><%=c.iso_code%></td>
              <td><%=c.local_name%></td>
              <td><%=c.is_active ==1 ? "True" : :False%></td>
              <td><%=link_to "Edit",edit_language_path(c), :class => "btn btn-mini btn-primary"%></td>
            </tr>
        <% end %>
      </table>
      <%= will_paginate @currencies %>
  <%end%>


</div>