
<div class="span9">
  <h2 class="heading margin0">Set Your Billing Information</h2>

  <%  if @account.errors.present? %>
      <div class="alert alert-error">
        <div class="alert alert-error">
          <ul>
            <% @account.errors.each_key do |key| %>
                <% @account.errors[key].each do |key_error| %>
                    <li>
                      <%= key+ " " + key_error %>
                    </li>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>

  <%#= e= @account.billing_info
        e.errors.each_key do |k|
          e[k].each do |i|
            puts k + " "+ i
          end
        end
  %>
  <%= form_tag admin_group_create_billing_details_and_subscription_path(@admin_group), :class => "form form-horizontal" do %>

      <div class="control-group">
        <label class="control-label" for="input01"><span style="color:red"> </span></label>
        <div class="controls">
          <%= radio_button_tag :company_or_individual, "company",:checked => true,:class=>"input"%>  Company   </div>
        <div class="controls"> <%=radio_button_tag :company_or_individual,"individual",:class=>"input"%> Individual </div>
        <!--<input type="text" class="input-xlarge" id="input01">-->
        <p class="help-block"></p>
      </div>
      <div class="control-group">
        <label class="control-label">Company Name</label>
        <div class="controls">
          <%=text_field_tag :company%>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Legal Form</label>
        <div class="controls">
          <%=text_field_tag :legal_form%>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">First Name</label>
        <div class="controls">
          <%=text_field_tag :first_name%>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Last Name</label>
        <div class="controls">
          <%=text_field_tag :last_name%>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Billing Email</label>
        <div class="controls">
          <%=text_field_tag :email, @account.email%>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label">VAT</label>
        <div class="controls">
          <%=text_field_tag :vat%>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Phone</label>
        <div class="controls">
          <%=text_field_tag :phone%>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Country</label>
        <div class="controls">
          <%=select_tag :country, options_for_select(@countries), :prompt => "Select"%>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">State</label>
        <div class="controls">
          <%=text_field_tag :state%>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Zip Code</label>
        <div class="controls">
          <%=text_field_tag :zip_code%>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">City</label>
        <div class="controls">
          <%=text_field_tag :city%>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Address</label>
        <div class="controls">
          <%=text_field_tag :address%>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Additional Address</label>
        <div class="controls">
          <%=text_field_tag :additional_address%>
        </div>
      </div>
      <h5>Card Details</h5>

      <div class="control-group">
        <label class="control-label">Card Number</label>
        <div class="controls">
          <%=text_field_tag :card_number%>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Expires</label>
        <div class="controls">
          <%=select_tag :expire_month, options_for_select((1..12)), :class => "span1"%>
          <%=select_tag :expire_year, options_for_select((Date.today.year..(Date.today.year+20))), :class => "span2"%>
          <%=text_field_tag :cvv, "", :class => "span1" ,:placeholder => "CVV"%>
        </div>
      </div>
      <%=hidden_field_tag :product_id, @product.id%>
      <div class="form-actions">
        <button type="submit" class="btn">Save</button>
        <%=link_to "Cancel", edit_ga_default_billing_profile_global_admins_path, :class => "btn"%>
        <%=link_to "Close", root_path, :class => "btn"%>
      </div>
  <%end%>
</div>
<%= content_for :head do  %>
    <script type="text/javascript">

        jQuery(function(){
           var company= new LiveValidation('company',{validMessage:" ",onlyOnSubmit:true});
            var vat= new LiveValidation('vat',{validMessage:" ",onlyOnSubmit:true});
            var legal_form= new LiveValidation('legal_form',{validMessage:" ",onlyOnSubmit:true});
            var email = new LiveValidation('email',{validMessage:" ",onlyOnSubmit:true});
            var profile_telephone_number = new LiveValidation("phone",{validMessage:" ",onlyOnSubmit:true});
            var country= new LiveValidation('country',{validMessage:" ",onlyOnSubmit:true});
            var city= new LiveValidation('city',{validMessage:" ",onlyOnSubmit:true});
            var s1= new LiveValidation('address',{validMessage:" ",onlyOnSubmit:true});
            var state= new LiveValidation('state',{validMessage:" ",onlyOnSubmit:true});
            var zip= new LiveValidation('zip_code',{validMessage:" ",onlyOnSubmit:true});
            var fname= new LiveValidation('first_name',{validMessage:" ",onlyOnSubmit:true});
            var lname= new LiveValidation('last_name',{validMessage:" ",onlyOnSubmit:true});
//            var lname= new LiveValidation('last_name',{validMessage:" ",onlyOnSubmit:true});
            var card_number= new LiveValidation('card_number',{validMessage:" ",onlyOnSubmit:true});
            var cvv= new LiveValidation('cvv',{validMessage:" ",onlyOnSubmit:true});
            fname.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            lname.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            company.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            legal_form.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            state.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            city.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            zip.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            vat.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            email.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            s1.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            card_number.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            card_number.add( Validate.Numericality,{ onlyInteger:true }  );
            cvv.add( Validate.Numericality,{ onlyInteger:true }  );

            country.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            cvv.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            fname.add( Validate.Format , { pattern: /^[^0-9`!@#\$%\^&*+_=]+$/, failureMessage: "Field not valid" });
            lname.add( Validate.Format , { pattern: /^[^0-9`!@#\$%\^&*+_=]+$/, failureMessage: "Field not valid" });
            city.add( Validate.Format , { pattern: /^[^0-9`!@#\$%\^&*+_=]+$/, failureMessage: "Field not valid" });
            state.add( Validate.Format , { pattern: /^[^0-9`!@#\$%\^&*+_=]+$/, failureMessage: "Field not valid" });
            profile_telephone_number.add( Validate.Format , { pattern: /^\+\d{1,3}\s\d{7,15}$/, failureMessage: "Should Be in ITU Format like +XX XXXXXXXXXX" });
//            contact_telephone_number.add( Validate.Format , { pattern: /^\+\d{1,3}\s\d{7,15}$/, failureMessage: "Should Be in ITU Format like +XX XXXXXXXXXX" });
            email.add( Validate.Email);

            $("#company_or_individual_company").change(function(event){
                var val = this.value
                fname.disable()
                lname.disable()
                company.enable()
                legal_form.enable()
                $("#first_name").attr("disabled",true);
                $("#last_name").attr("disabled",true);
                $("#company").attr("disabled",false);
                $("#legal_form").attr("disabled",false);
            });

            $("#company_or_individual_individual").change(function(event){
                fname.enable()
                lname.enable()
                company.disable()
                legal_form.disable()
                var val = this.value
                $("#company").attr("disabled",true);
                $("#legal_form").attr("disabled",true);

                $("#first_name").attr("disabled",false);
                $("#last_name").attr("disabled",false);
            });

            $("#company_or_individual_company").attr("checked", true)
            $("#first_name").attr("disabled",true);
            $("#last_name").attr("disabled",true);
            fname.disable()
            lname.disable()
        });
    </script>
<% end %>

