
<%= form_for @admin_group,:url => create_platform_admin_groups_path,:html => {:class => "form form-horizontal"} do |f| %>

    <div class="span9">
      <h3 class="heading margin0">Create Platform</h3>
      <div class="control-group">
        <label class="control-label">Set Account Area</label>
        <div class="controls">
          <%=select_tag :local_admin,options_for_select(@local_admins.collect{|i| [i.la_general_setting.la_country, i.id]}),:prompt => "Select.."%>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Set Platform Name</label>
        <div class="controls">
          <%=text_field_tag "name" %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Set Platform URL</label>
        <div class="controls">
          http://<%=text_field_tag :url%>.winnitude.com
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="input01">Terms Of Use</label>
        <div class="controls">
          <%= text_area_tag "terms",legal_terms,:class=>"input",:rows => 5,:disabled => true %>
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox inline" >
            <%=check_box_tag :terms%>Accept terms
            <!--<input type="text" class="input-xlarge" id="input01">-->
          </label>
        </div>
      </div>
      <div class="form-actions">
        <%= link_to "Change Plan","#", :class => "btn" %>
        <button type="submit" class="btn" id="proceed">Proceed</button>


      </div>
    </div>

<%end%>

<%= content_for :head do  %>
    <script type="text/javascript">
        jQuery(function(){

            var fname= new LiveValidation('name',{validMessage:" ",onlyOnSubmit:true});
            fname.add( Validate.Format , { pattern: /^[^0-9`!@#\$%\^&*+_=]+$/, failureMessage: "Field not valid" });
            fname.add(Validate.Presence);
            var url= new LiveValidation('url',{validMessage:" ",onlyOnSubmit:true});
            url.add( Validate.Format , { pattern: /^[^0-9`!@#\$%\^&*+_=]+$/, failureMessage: "Field not valid" });
            url.add(Validate.Presence);
            var local_admin= new LiveValidation('local_admin',{validMessage:" ",onlyOnSubmit:true});
            local_admin.add(Validate.Presence);
            var terms= new LiveValidation('terms',{validMessage:" ",onlyOnSubmit:true});
            terms.add( Validate.Acceptance);

//            $("#terms").click(function(event) {
//                if(this.value==1)
//                {
//                 $("#proceed").removeAttr("disabled");
//                }
//                else
//                {
//                $("#proceed").attr("disabled",true);
//                }
//           });




});
    </script>
<% end %>