<div class="span3">
  <ul class="nav nav-list">

    <li class="active"><a href="#" ><i class="icon-chevron-right"></i> Platform Setting</a>
      <ul>
        <li><a href=<%="#{edit_ga_general_settings_global_admins_path}"%>>General Setting</a></li>
        <li><a href=<%="#{edit_ga_links_global_admins_path}"%>>Links</a></li>
        <li><a href="#">Integrations</a></li>
        <li><a href="#">Countries</a></li>
        <li><a href="#">Languages</a></li>
        <li><a href="#">Currencies</a></li>
        <li><a href="#">Billing Profiles</a>
          <ul>
            <li><a href=<%="#{edit_ga_default_billing_profile_global_admins_path}"%>>Default Billing Profile</a></li>
            <li><a href=<%="#{edit_ga_paas_billing_profile_global_admins_path}"%>>PaaS Billing Profile</a></li>
          </ul>
        </li>
        <li><a href="#">PaaS</a>
          <ul>
            <li><a href="#">Products</a></li>
            <li><a href=<%="#{edit_platform_terms_global_admins_path}"%>>Terms ans Conditions</a></li>
          </ul>
        </li>
        <li><a href="#">Projects</a>
          <ul>
            <li><a href="#">Commissions</a></li>
            <li><a href="#">Arena</a></li>
            <li><a href="#">Categories</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
 </div>