<div class="span3 pannelBorder pull-left" xmlns="http://www.w3.org/1999/html">
  <div class="side_pannel_header">Platform Setting</div>
  <div class="localAdminEditPannel">
    <div class="menu_list firstpane">
      <a class="menu_head" href=<%="#{edit_ga_general_settings_global_admins_path}"%>>General Setting</a>
      <%= link_to "Links", edit_ga_links_global_admins_path ,:class => "menu_head"  %>
      <%= link_to "Integrations", "#" ,:class => "menu_head"  %>
      <%= link_to "Countries", countries_path ,:class => "menu_head"  %>
      <%= link_to "Languages", languages_path ,:class => "menu_head"  %>
      <%= link_to "Currencies", currencies_path ,:class => "menu_head"  %>
      <a href="#" class="menu_head">Billing Profiles</a>
      <div class="menu_body">
        <%= link_to "Default Billing Profile", edit_ga_default_billing_profile_global_admins_path ,:class => "menu_head"  %>
        <%= link_to "PaaS Billing Profile", edit_ga_paas_billing_profile_global_admins_path ,:class => "menu_head"  %>
      </div>
      <a href="#" class="menu_head">PaaS</a>
      <div class="menu_body">
        <a class="menu_head" href=<%="#{products_path}"%>>Products</a>
        <%= link_to "Terms and Conditions", edit_platform_terms_global_admins_path ,:class => "menu_head"  %>
      </div>
      <a href="#" class="menu_head">Projects</a>
      <div class="menu_body">
        <a href=<%="#{edit_ga_projects_commissions_global_admins_path}"%>>Commissions</a>
        <a href=<%="#{edit_ga_projects_settings_global_admins_path}"%>>Arena</a>
        <a href="#">Categories</a>
      </div>
      <p class="menu_head">Groups</p>
      <p class="menu_head">Contest</p>
      <p class="menu_head">Static Content</p>
    </div>
  </div>
  <div class="side_pannel_header ">LocalAdmin Management</div>
  <div class="localAdminEditPannel firstpane">
    <a class ="menu_head" id="la_links" href=<%="#{local_admins_path}"%>>Settings</a>
    <div class="menu_body la_detailed_links">
      <%if @local_admin.present?%>

                <a href=<%="#{edit_la_general_settings_local_admin_path(@local_admin)}"%>>General Setting</a>
                <a href=<%="#{edit_la_paas_billing_profile_local_admin_path(@local_admin)}"%>>Billing Profile</a>
                <a href=<%="#{edit_la_organization_details_local_admin_path(@local_admin)}"%>>Organization Details</a>
                <a href=<%="#{edit_la_terms_local_admin_path(@local_admin)}"%>>Local Terms of Use</a>

      <%end%>
    </div>
  </div>
  <div class="side_pannel_header ">Users Management</div>
  <div class="localAdminEditPannel firstpane">
    <%= link_to "All Users", all_users_global_admins_path ,:class => "menu_head"  %>
    <%= link_to "New User", new_user_global_admins_path ,:class => "menu_head"  %>
  </div>


</div>