<%= render :partial => "platform_settings_ga"  %>


<%= form_for @general_setting, :url => update_ga_general_settings_global_admins_path,:html => {:class => "form form-horizontal"} do |f| %>

    <div class="span9">
      <h3 class="heading margin0">Links</h3>




      <div class="control-group">
        <label class="control-label">Platform Facebook Account</label>
        <div class="controls">
          <%=f.text_field :ga_facebook ,:placeholder => "http://www.facebook.com/" %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Platform Twitter Account</label>
        <div class="controls">
          <%=f.text_field :ga_twitter,:placeholder => "http://www.twitter.com/"%>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn">Cancel</button>
      </div>
    </div>

<%end%>

<%= content_for :head do  %>
    <script type="text/javascript">

        jQuery(function(){

            var facebook =   new LiveValidation("ga_general_setting_ga_facebook",{validMessage:" ",onlyOnSubmit:true});
            facebook.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });
            var twitter =   new LiveValidation("ga_general_setting_ga_twitter",{validMessage:" ",onlyOnSubmit:true});
            twitter.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });

        });
    </script>
<% end %>