
<%= form_tag set_platform_global_admins_path, :class =>"form-horizontal" do %>
    <div class="container main">
      <div class="row">
        <div class="span9">
          <h3 class="heading margin0">Platform Setup Settings</h3>
          <div class="control-group">
            <label class="control-label">Platform Name</label>
            <div class="controls">
              <%=text_field_tag :platform_name,"", :placeholder => "Winnitude"%>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Platform Email</label>
            <div class="controls">
              <%=text_field_tag :platform_email,"", :placeholder => "info@crowdels.com"%>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Administrator Email</label>
            <div class="controls">
              <%=text_field_tag :admin_email,"", :placeholder => "username@crowdels.com"%>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Administrator Password</label>
            <div class="controls">
              <%=password_field_tag :password,"", :placeholder => "Password"%>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Platform Default Language</label>
            <div class="controls">
              <%=select_tag :language, options_for_select(@languages)%>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Platform Default Currency</label>
            <div class="controls">
              <%=select_tag :currency, options_for_select(@currency)%>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Platform Master Country</label>
            <div class="controls">
              <%=select_tag :platform_master_country, options_for_select(@master_country)%>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">First User Country</label>
            <div class="controls">
              <%=select_tag :country, options_for_select(@user_countries)%>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Create Platform</button>
            <button type="button" class="btn">Cancel</button>
          </div>
        </div>
      </div>
    </div>
<%end%>

<%= content_for :head do  %>
    <script type="text/javascript">

        jQuery(function(){
            var platform_name = new LiveValidation('platform_name',{validMessage:" ",onlyOnSubmit:true});
            platform_name.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            var platform_email = new LiveValidation('platform_email',{validMessage:" ",onlyOnSubmit:true});
            platform_email.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            platform_email.add( Validate.Email,{failureMessage:"Not a valid email"} );
            var admin_email = new LiveValidation('admin_email',{validMessage:" ",onlyOnSubmit:true});
            admin_email.add( Validate.Presence,{failureMessage:" Can't be empty"} );
            admin_email.add( Validate.Email,{failureMessage:"Not a valid email"} );
            var password = new LiveValidation('password',{validMessage:" ",onlyOnSubmit:true});
            password.add( Validate.Presence,{failureMessage:" Can't be empty"} );

        });
    </script>
<% end %>