
<div class="span3 pannelBorder pull-left">
  <div class="side_pannel_header">Setting</div>
  <div class="localAdminEditPannel">
    <div class="menu_list firstpane">
      <%= link_to "Setting" ,settings_user_path(current_user), :class => "menu_head"%>
      <%= link_to "Address" ,edit_address_user_path(current_user), :class => "menu_head"%>
      <%= link_to "Links" ,edit_links_user_path(current_user), :class => "menu_head"%>
      <%= link_to "Terms of Use" , terms_of_use_user_path(current_user), :class => "menu_head"%>
      <%= link_to "Billing Profile" , billing_profile_user_path(current_user), :class => "menu_head"%>
    </div>
  </div>
</div>



