<h1>Links</h1>
<%=form_for @user , :url=>  update_links_user_path(@user),:html => {:class => "form form-horizontal"} do |f| %>
    <%=f.fields_for @link  do |contact| %>
        <%=f.fields_for @profile  do |profile| %>
            <div class="control-group">
              <label class="control-label">Web Site</label>
              <div class="controls">
                <%=contact.text_field :web  %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Blog</label>
              <div class="controls">
                <%=contact.text_field :blog  %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Video biography</label>
              <div class="controls">
                <%=profile.text_field :video %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Facebook</label>
              <div class="controls">
                <%=profile.text_field :fb_page, :disabled => true  %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Twitter</label>
              <div class="controls">
                <%=contact.text_field :social_twitter  %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">LinkedIn</label>
              <div class="controls">
                <%=contact.text_field :social_linkedin  %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Myspace</label>
              <div class="controls">
                <%=contact.text_field :social_myspace  %>
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Save</button>
              <%=link_to "cancel" , "/" ,:class=>"btn btn-primary" %>
            </div>
            </div>

        <%end%>
    <%end%>
<%end%>

<%= content_for :head do  %>
    <script type="text/javascript">

        jQuery(function(){

            var web =   new LiveValidation("user_user_link_web",{validMessage:" ",onlyOnSubmit:true});
            web.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });
            var video =   new LiveValidation("user_user_profile_video",{validMessage:" ",onlyOnSubmit:true});
            video.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });
            var twitter =   new LiveValidation("user_user_link_social_twitter",{validMessage:" ",onlyOnSubmit:true});
            twitter.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });
            var blog =   new LiveValidation("user_user_link_blog",{validMessage:" ",onlyOnSubmit:true});
            blog.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });
            var linkedin =   new LiveValidation("user_user_link_social_linkedin",{validMessage:" ",onlyOnSubmit:true});
            linkedin.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });
            var myspace =   new LiveValidation("user_user_link_social_myspace",{validMessage:" ",onlyOnSubmit:true});
            myspace.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });
        });
    </script>
<% end %>








