<h1>Settings</h1>
<%=form_for @user , :url=> update_settings_user_path(@user),:html => {:class => "form form-horizontal"} do |f| %>
    <%= f.fields_for @profile do |p| %>


        <div class="span9">
          <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
              <%=label_tag @user.email %>   <%=link_to "change email" ,change_email_user_path(@user),:class=>"btn btn-danger" if @user.is_proprietary_user %>
              <%=link_to "Change Password" ,edit_user_registration_path,:class=>"btn btn-danger" if @user.is_proprietary_user %>
              <%=link_to "Set Password" ,set_password_path,:class=>"btn btn-danger" unless @user.is_proprietary_user %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Country<span style="color:red">* </span></label>
            <div class="controls">
              <%= f.select :country ,options_for_select(@countries,@user.country) %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Language<span style="color:red">* </span></label>
            <div class="controls">
              <%= f.select :language ,options_for_select(@languages,@user.language) %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">newsLetter<span style="color:red">* </span></label>
            <div class="controls">
              <%=p.check_box("news_letter_flag") %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Facebook ID</label>
            <div class="controls">
              <%=@user.facebook_id %>
              <%=link_to "link facebook" ,user_omniauth_authorize_path(:facebook),:class=>"btn btn-info" unless @user.is_provider %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Facebook User Page</label>
            <div class="controls">
              <%=@profile.fb_page %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">First Name</label>
            <div class="controls">
              <%= p.text_field :first_name %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Last Name</label>
            <div class="controls">
              <%= p.text_field :last_name %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Birth Date</label>
            <div class="controls">
              <%= p.text_field :birth_date ,:value =>reformat_date(@profile.birth_date) rescue nil %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Gender</label>
            <div class="controls">
              <%= p.select :gender ,options_for_select(["male" ,"female"],@profile.gender) %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Biography</label>
            <div class="controls">
              <%= p.text_area :biography ,:rows=> 5 %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Image</label>
            <div class="controls">
              <%=p.file_field :photo%> <%=image_tag(@profile.photo) %>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn">Save</button>
            <%=link_to "Cancel", settings_user_path(@user), :class => "btn"%>
            <%=link_to "Close", root_path, :class => "btn"%>
          </div>
        </div>

    <%end%>
<%end%>


<%= content_for :head do  %>
    <script type="text/javascript">

        jQuery(function(){
            $('#user_user_profile_birth_date').datepicker({autoclose :true,
               format: 'dd-mm-yyyy'} )
            $('#user_user_profile_birth_date').datepicker('setStartDate', '1970-12-31');
//            $('#user_user_profile_birth_date').datepicker('setEndDate', '2012-12-31');

            var fname =   new LiveValidation("user_user_profile_first_name",{validMessage:" ",onlyOnSubmit:true});
            var lname =   new LiveValidation("user_user_profile_last_name",{validMessage:" ",onlyOnSubmit:true});
            fname.add( Validate.Format , { pattern: /^[^0-9`!@#\$%\^&*+_=]+$/, failureMessage: "Field not valid" });
            lname.add( Validate.Format , { pattern: /^[^0-9`!@#\$%\^&*+_=]+$/, failureMessage: "Field not valid" });
        });
    </script>
<% end %>








