<h1>Terms Of Use</h1>
<%=form_for @user , :url=>  update_links_user_path(@user),:html => {:class => "form form-horizontal"} do |f| %>

    <div class="control-group">
      <label class="control-label" for="input01">Terms Of use</label>
      <div class="controls">
        <%= text_area_tag "terms",user_terms ,:class => "input",:disabled => true %>
        <p class="help-block"></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01"><%= f.check_box :user_terms_accepted ,:class => "input" ,:disabled => true%></label>
      <div class="controls">
        <p class="help-block"><%= link_to "cancel User","#",:onclick => 'alert("Cancellation Not allowed")', :class => "btn btn-danger"%></p>
      </div>
    </div>

<%end%>

<%= content_for :head do  %>
    <script type="text/javascript">

        jQuery(function(){

            var web =   new LiveValidation("user_user_link_web",{validMessage:" ",onlyOnSubmit:true});
            web.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });
            var video =   new LiveValidation("user_user_profile_video",{validMessage:" ",onlyOnSubmit:true});
            video.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });
            var twitter =   new LiveValidation("user_user_link_social_twitter",{validMessage:" ",onlyOnSubmit:true});
            twitter.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });
            var blog =   new LiveValidation("user_user_link_blog",{validMessage:" ",onlyOnSubmit:true});
            blog.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });
            var linkedin =   new LiveValidation("user_user_link_social_linkedin",{validMessage:" ",onlyOnSubmit:true});
            linkedin.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });
            var myspace =   new LiveValidation("user_user_link_social_myspace",{validMessage:" ",onlyOnSubmit:true});
            myspace.add( Validate.Format , { pattern: /^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/, failureMessage: "Must be a valid URL" });
        });
    </script>
<% end %>








