<div class=span3 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <%= render :partial =>"admin/global_admins/platform_settings_ga" if (current_user.has_role "global_admin"  and request.url.index(ADMIN_HOST).present?)%>
  <%= render :partial =>"users/user_edit_profile_links" if (current_user.present?) and request.url.index(LOCAL_HOST).present?%>
</div>
 <!--</br></br></br>-->
<div class= span9><h1><%= "Welcome To #{platform_name}"%></h1>
<!--<div><h1>Welcome To Winnitude</h1></div>-->
<!--<%#= image_tag current_user.user_profile.fb_image %>-->
  <%=link_to "Create Platform", plans_path%>
  </br>
  </br>
  <%=link_to "Show Account",show_accounts_homes_path%>
</div>
