<!DOCTYPE html>
<html>
<head>
  <title>Winnitude</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
<footer>
  <%if Rails.env.development? %>
      <%if  current_user.present?%>
          <%= debug(params) if Rails.env.development?%>
          <%= Rails.env if Rails.env.development?%>
          User email:::::::::::
          <%= current_user.inspect %>
          </br> </br></br></br></br></br></br>
          <%= user_session.inspect %>
          ===============================================================================================================================

          ================================================================================================================================
          </br> </br></br></br></br></br></br>
          <%= params.inspect if Rails.env.development? %>
          </br></br></br></br></br>
          ================================================================================================================================

      <% end %>

      <div class="span3">
        <%= render partial: 'shared/side_bar' %>
      </div>
  <% end %>

  <p>&copy; Company 2012</p>
</footer>
</html>
